.body {
  background-color: #222;
}

.header {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.header__title {
  color: #fff;
  font-size: 2rem;
  margin: 0;
}
